{% include 'header.html' %}
<nav id="content">
<h1><font color="purple" size = "11"><b><u>ABOUT ME</u></b></font></h1>
<font size = "6">
<p><font color="black"><b>A Computer Programmer</b></font></p>
<p>BTech final year student who can write code ,develop and design application
and always eager to learn different types of programming languages and used to spend
most of his time with his computer and love to be an entrepreneur.</p>
</font>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
</nav>

{% include 'footer.html' %}
