<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html lang="en">
<head>
    <meta charset="utf-8" />
<title>Manojmantra | Blogs</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css">
</head> 

<body id="blog">
<div class="head">
<nav id="header">
<center>
<font color = "black" size = "13"><u><b>Manojmantra</b></u></font>
<p><font size="6" color="black">Feel It My Way</font></p>
</center>
<br>
<div class="main">
<nav id="navigation">
<font size="6" >
<ul id="menu-page" class="menu">

<li id="menu-5" class="menu-item-5"><a href="/" ><b>Blog</b></a></li>

</li>
</ul></font>
</nav>
</div>
</nav></div>

