<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html lang="en">
<head>
    <meta charset="utf-8" />
<title>Manojmantra | Blogs</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css">
</head> 

<body id="blog">

<div class="head-wrapper">
<nav id= "hd-wp">
<table  width="100%" border="0" cellpadding="1" cellspacing="1">
<tr>
<td align="left" width="30%" style="color:black; padding-right:5px;">Manojmantra</td>
<td align="right" width="30%" style="color:black; padding-right:5px;"><pre><a href = "/accounts/logout/">[logout]</a> </pre></td>
</tr>
</table>
</nav>
</div>

<div class="head">
<nav id="header">
<center>
<font color = "black" size = "13"><u><b>Manojmantra</b></u></font>
<p><font size="6" color="black">Feel It My Way</font></p>
</center>
<br>
<div class="main">
<nav id="navigation">
<font size="6" >
<ul id="menu-page" class="menu">
<li id="menu-5" class="menu-item-5"><a href="/Blog/" ><b>Home</b></a></li>

<li id="menu-5" class="menu-item-5"><a href="/Blog/create_post/" ><b> Create Blog</b></a></li>

</li>
</ul></font>
</nav>
</div>
</nav></div>

