{% include 'head.html' %}
<div class="container" id="content" >
<div class="title"><h2><b><u><a href="{% url blog.views.post post.pk %}">{{ post.title }}</a></u></b></h2></div>
 <p>{{post.date}}</p>
 <h4>{{ post.body }}</h4>    
<hr/>
{% if comments %}
    <p><font size ="6" color = "red"><u>Comments:</u></font></p>
{% endif %}
     {% for comment in comments %}
                <div class="comment">
                    <div class="time">{{ comment.created }} | {{ comment.author }}</div>
                    <div class="body">{{ comment.body|linebreaks }}</div>
                   
                </div>
            {% endfor %}

<div id="addc"><font color="red" size="6"><u>Add a Comment: </u></font></div>
<!-- Comment form  -->
<form action="{% url blog.views.add_comment post.id %}" method="POST">{% csrf_token %}
    <div id="cform">

      <strong>  Name: <p>{{ form.author }}</p>
</strong>
<br>
        <strong>Comment: <p>{{ form.body|linebreaks }}</p></strong>
    </div>
    <div id="submit"><input type="submit" value="Submit"></div>
</form>


</div>
{% include 'footer.html' %}
