{% include 'header.html' %}
<nav id="content">
<div class="image">
  <img alt="" src="/static/mee_ig1.png" style="border.thick solid red" height="300" width="400" align=right>
</div>
<h3><font = "Arial" color="purple" size = "11"><b><u>About Manojmantra</u></b></font></h3>
<br>
<font size = "6">
<p><font color= "black">Manojmantra</font> welcomes you all.<font color= "black">Manojmantra</font> is 
launched on 22th Feburary 2013 with a great enthusiasm and certain purpose.
Here, readers will be updated about latest tech globe ,ethical hacking 
related topics, can get different programs avialable in different languages and 
many more..........</p>
<p>Lastly I will say,<font color="red"> "Feel It My Way"</font>......</p>
</font>
<br>
<br><br>
<br><br>
<br><br>
<br>
</nav>
{% include 'footer.html' %}
